name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Run Maven Test
      run: mvn clean test

    - name: Run Maven Package
      run: mvn clean package

    - name: Save the target folder
      uses: actions/upload-artifact@v4
      with:
        name: maven-build-output
        path: target/
